.react-calendar {
  max-width: 100%;
  background: #221d25;
  border-radius: 0.75rem;
  border: 0;
  font-family: 'DM Sans';
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 0.875rem;
  border-radius: 0.75rem;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: #221d25;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
  color: #dcc8f0;
}

.react-calendar__navigation button:disabled {
  background-color: #221d25;
  color: #524f55;
}

.react-calendar__navigation button:enabled:focus {
  background-color: #221d25;
}

.react-calendar__navigation button:enabled:hover {
  background: #2e2833;
  border-radius: 0.75rem;
}

.react-calendar__month-view__weekdays {
  text-decoration: none;
  text-underline-offset: 2rem;
  text-align: center;
  text-transform: capitalize;
  font-size: 0.75rem;
  color: #9ea8b3;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #8f8796;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 14px 10px;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #221d25;
  color: #524f55;
  cursor: not-allowed;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #524f55;
}

.react-calendar__tile:enabled:hover {
  background: #2e2833;
}

.react-calendar__tile:enabled:focus {
  background-color: #221d25;
}

.react-calendar__tile--hasActive {
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--active {
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #dcc8f0;
  color: #501464;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #332b3b;
  border-radius: 0;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__month-view__days__day {
  background: #dcc8f0;
  color: #501464;
  border-radius: 0.25rem;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeEnd.react-calendar__month-view__days__day {
  background: #dcc8f0;
  color: #501464;
  border-radius: 0.25rem;
}

.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range.react-calendar__month-view__days__day {
  background: #332b3b;
  color: white;
  border-radius: 0;
}
