.react-calendar {
  width: 350px;
  max-width: 100%;
  background: var(--Neutral-2, #221d25);
  border-radius: var(--Small, 0.5rem) var(--Small, 0.5rem) 0rem 0rem;
  border: 0;
  font-family: 'TT Firs Neue Variable';
  box-shadow:
    0px 0px 0px 1px #100414,
    0px 0px 0px 1px rgba(248, 244, 252, 0.04) inset,
    0px 1px 0px 0px rgba(248, 244, 252, 0.04) inset;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  font-size: 0.875rem;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: var(--Neutral-2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.react-calendar__navigation button:disabled {
  background-color: var(--Neutral-2);
  color: #524f55;
}

.react-calendar__navigation button:enabled:focus {
  background-color: var(--Neutral-2);
}

.react-calendar__navigation button:enabled:hover {
  background: var(--Neutral-3, #2e2833);
  border-radius: 0.5rem;
}

.react-calendar__month-view__weekdays {
  text-decoration: dotted double none;
  text-align: center;
  text-transform: capitalize;
  text-underline-offset: 2rem;
  font-size: 0.75rem;
  color: #9ea8b3;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
/* 
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
} */

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #8f8796;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  height: 2.5rem;
  width: 2.5rem;
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 0.833em;
}

.react-calendar__tile:disabled {
  background-color: #221d25;
  color: #524f55;
  cursor: not-allowed;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #524f55;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #221d25;
}

.react-calendar__tile--now {
  /* background: #ffff76; */
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  /* background: #ffffa9; */
}

.react-calendar__tile--hasActive {
  border-radius: 0.5rem;
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  border-radius: 0.5rem;
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--active {
  border-radius: 0.5rem;
  background: #dcc8f0;
  color: #501464;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  border-radius: 0.5rem;
  background: #dcc8f0;
  color: #501464;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
