#sentry-feedback {
  z-index: 1;
  --background: var(--colors-neutral-2);
  --actor-hover-background: var(--colors-neutral-3);
  --actor-border: '1px solid var(--colors-neutral-4)';
  --actor-border-radius: 0.75rem;
  --foreground: var(--colors-white-0);
  --font-size: 16px;
}
