@tailwind base;

@import "react-toastify/dist/ReactToastify.css";

@tailwind components;
@tailwind utilities;

@layer base {
  /* ibm-plex-sans-500 - latin */
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("./assets/fonts/ibm-plex-sans-v13-latin-500.woff2") format("woff2"),
      url("./assets/fonts/ibm-plex-sans-v13-latin-500.woff") format("woff");
  }
  /* ibm-plex-sans-600 - latin */
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("./assets/fonts/ibm-plex-sans-v13-latin-600.woff2") format("woff2"),
      url("./assets/fonts/ibm-plex-sans-v13-latin-600.woff") format("woff");
  }

  /* ibm-plex-mono-500 - latin */
  @font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 500;
    src: local(""), url("./assets/fonts/ibm-plex-mono-v11-latin-500.woff2") format("woff2"),
      url("./assets/fonts/ibm-plex-mono-v11-latin-500.woff") format("woff");
  }
  /* ibm-plex-mono-600 - latin */
  @font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 600;
    src: local(""), url("./assets/fonts/ibm-plex-mono-v11-latin-600.woff2") format("woff2"),
      url("./assets/fonts/ibm-plex-mono-v11-latin-600.woff") format("woff");
  }
}

.web3modal-modal-card {
  @apply bg-gray-600 px-6 py-4 gap-4 !important;
}

.web3modal-provider-wrapper {
  @apply bg-gray-300 p-4 rounded-lg !important;
}

.web3modal-provider-container {
  @apply bg-chocolate-500  border border-gold-500 !important;
}

.web3modal-provider-name {
  @apply text-gold-500 font-mono !important;
}

.web3modal-provider-description {
  @apply text-gray-25 !important;
}

.walletconnect-modal__base {
  @apply bg-gray-600 !important;
}
.walletconnect-modal__mobile__toggle {
  @apply bg-gray-500 !important;
}
.walletconnect-modal__mobile__toggle_selector {
  @apply bg-chocolate-500 border border-gold-500 !important;
}

.walletconnect-modal__base > div:nth-child(3) {
  @apply bg-gray-500 p-2 rounded-lg !important;
}
.walletconnect-modal__mobile__toggle a {
  @apply text-gold-500 font-mono text-base font-semibold !important;
}

.walletconnect-qrcode__text {
  @apply text-gray-25 !important;
}
.walletconnect-modal__footer a {
  @apply text-gray-25 !important;
}
.walletconnect-connect__button__icon {
  @apply bg-white !important;
}
.walletconnect-connect__button__text {
  @apply text-gray-25 !important;
}
