# Staging release workflow, generally following the guide posted here
# https://github.com/marketplace/actions/netlify-deploy
name: 'Netlify Staging Deploy'
on:
  push: # release on any push to staging
    branches:
      - staging

jobs:
  deploy:
    name: 'Deploy'
    runs-on: ubuntu-latest
    environment: staging

    steps:
      - uses: actions/checkout@v1
      - uses: jsmrcaga/action-netlify-deploy@master
        with:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }} # auth token, generated at https://app.netlify.com/user/applications#personal-access-tokens
          NETLIFY_SITE_ID: '93816111-a19e-4218-b9ce-c480fab074b4' # staging site Netlify id (not a private identifier)
          NETLIFY_DEPLOY_TO_PROD: true
          TESTING_ALCHEMY_API_KEY: ${{ secrets.TESTING_ALCHEMY_API_KEY }}
          NEXT_PUBLIC_INFURA_API_KEY: ${{ secrets.NEXT_PUBLIC_INFURA_API_KEY }}
          NEXT_PUBLIC_ALCHEMY_API_KEY: ${{ secrets.NEXT_PUBLIC_ALCHEMY_API_KEY }}
          NEXT_PUBLIC_SITE_URL: ${{ secrets.NEXT_PUBLIC_SITE_URL }}
          NEXT_PUBLIC_SENTRY_DSN: ${{ secrets.NEXT_PUBLIC_SENTRY_DSN }}